<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="myProfile()">
      <ion-button>
        <ion-icon slot="icon-only" md="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" md="mail-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" md="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Akun Anda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/images/logo-vuenic.png">
      </ion-avatar>
      <ion-label>{{fullName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
