<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan Proyek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list lines="inset">
  <ion-item (click)="editLocation()">
    <ion-label>Ubah Lokasi</ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item (click)="editUserProject()">
    <ion-label>Ubah Proyek</ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>

</ion-content>
  

