<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan Proyek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list lines="inset">
  <ion-item (click)="editLocation()">
    <ion-label>Ubah Lokasi</ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item (click)="editUserProject()">
    <ion-label>Ubah Proyek</ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
  <!-- <form [formGroup]="EditProjectForm" (ngSubmit)="onSubmit()">
    <ion-card-header>
      <ion-card-subtitle color="primary"><b>I. Lokasi Proyek <ion-text color="danger">*</ion-text></b></ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label position="stacked">Alamat <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" placeholder="Masukan Alamat" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Provinsi <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)="getCity($event)" formControlName="province_id" okText="" placeholder="Pilih Provinsi" cancelText="" interface="popover">
        <ion-select-option *ngFor="let province of provinces" [value]="province.id">{{province.province}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kota/Kecamatan <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)="getDistricts($event)" formControlName="city_id" okText="" placeholder="Pilih Kota/Kecamatan" cancelText="" interface="popover">
        <ion-select-option *ngFor="let city of cities" [value]="city.id">{{city.type}} {{city.city_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kelurahan <ion-text color="danger">*</ion-text></ion-label>
      <ion-select  formControlName="districts_id" okText="" placeholder="Pilih Kelurahan" cancelText="" interface="action-sheet">
        <ion-select-option *ngFor="let district of districts" [value]="district.id">{{district.subdistrict_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle color="primary"><b>II. Informasi Proyek <ion-text color="danger">*</ion-text></b></ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label position="stacked">Nama Proyek <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" placeholder="Masukan Nama Proyek" formControlName="project_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Proyek <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)="getProjectType($event)" formControlName="project_id" okText="" placeholder="Pilih Proyek" cancelText="" interface="action-sheet">
        <ion-select-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jenis Proyek <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)="getCommodity($event)" formControlName="project_type_id" okText="" placeholder="Pilih Jenis Projek" cancelText="" interface="action-sheet">
        <ion-select-option *ngFor="let project_type of project_types" [value]="project_type.id">{{project_type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Komoditas <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (ionChange)="getCommodityType($event)" formControlName="commodity_id" okText="" placeholder="Pilih Komoditas" cancelText="" interface="action-sheet">
        <ion-select-option *ngFor="let commodity of commodities" [value]="commodity.id">{{commodity.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jenis Komoditas</ion-label>
      <ion-select formControlName="commodity_type_id" okText="" placeholder="Pilih Jenis Komoditas" cancelText="" interface="action-sheet">
        <ion-select-option *ngFor="let commodity_type of commodity_types" [value]="commodity_type.id">{{commodity_type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center" style="margin-top:40px">
      <ion-button [disabled]="EditProjectForm.invalid" expand="block" type="submit" style="height:40px" >SUBMIT</ion-button>
    </div>
  </form> -->
</ion-content>
  

