<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Atur Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey-light">
  <ion-list lines="inset">
    <ion-item (click)="settingMyProfile()">
      <ion-label>
        <h3>Data Diri</h3>
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  
    <ion-item lines="none" (click)="settingMyAddress()">
      <ion-label>
        <h3>Daftar Alamat</h3>
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list-header><b>Keamanan</b></ion-list-header>
  <ion-list lines="inset">
    <ion-item *ngIf="password != null" lines="none" (click)="settingPassword()">
      <ion-label>
        <h3>Ubah Kata Sandi</h3>
      </ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
