<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Data Diri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding-top">
    <img src="/assets/images/logo-vuenic.png" height="70px;">
  </div>

  <ion-list lines="none">    
    <ion-item>
      <ion-label>
        <p>Nama Lengkap</p>
        <h2>{{infoUser?.fullname}}</h2>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>
        <p>Tanggal Lahir</p>
        <h2 *ngIf="infoUser?.dateofbirth">{{infoUser?.dateofbirth}}</h2>
        <h2 *ngIf="!infoUser?.dateofbirth">N/A</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>Jenis Kelamin</p>
        <h2 *ngIf="infoUser?.gender == 1">Pria</h2>
        <h2 *ngIf="infoUser?.gender == 0">Wanita</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>Email</p>
        <h2 *ngIf="infoUser?.email">{{infoUser?.email}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>Nomor HP</p>
        <h2 *ngIf="infoUser?.phonenumber">{{infoUser?.phonenumber}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>
