<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan Device & Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item (click)="editDeviceSensor()">
      <ion-label>Ubah Device & Sensor</ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger">
          <ion-icon slot="icon-only" icon="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
