  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="resetPassword == true">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title *ngIf="resetPassword == true">Atur Ulang Kata Sandi</ion-title> -->

  </ion-toolbar>

<ion-content class="ion-padding">
  <div *ngIf="resetPassword == true">
    <form [formGroup]="resetPWDForm" (ngSubmit)="checkEmail()">
    <div style="margin-top:-20px;">
       <p><b>Atur Ulang Kata Sandi</b></p>
       <p>Masukkan e-mail yang terdaftar. Kami akan mengirimkan kode verifikasi untuk atur ulang kata sandi.</p>
    </div> 
    <ion-item class="marginTop">
      <ion-input type="email" placeholder="Masukan email anda" formControlName="email"></ion-input>
    </ion-item> 

    <div class="ion-text-center" style="margin-top:40px">
      <ion-button [disabled]="resetPWDForm.invalid" expand="block" type="submit" style="height:40px">Lanjut</ion-button>
    </div>
    </form>
  </div>

  <div *ngIf="verifyEmail == true">
    <form [formGroup]="resetCodeForm" (ngSubmit)="submitCheckCode()">
      <div>
          Kode verifikasi telah dikirim melalui e-mail {{email}}
      </div> 
      <ion-item class="marginTop">
        <ion-input type="number" placeholder="Masukan Kode Verifikasi" formControlName="code"></ion-input>
      </ion-item> 
  
      <div class="ion-text-center" style="margin-top:40px">
        <ion-button [disabled]="resetCodeForm.invalid" expand="block" type="submit" style="height:40px">Lanjut</ion-button>
      </div>
      </form>
  </div>

  <div *ngIf="setPassword == true">
    <form [formGroup]="setPasswordForm" (ngSubmit)="submitSetPassword()">
      <div>
          Kata Sandi Baru
          <p>Buat kata sandi untuk akun dengan e-mail {{email}}</p>
      </div> 

    <ion-item class="marginTop">
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Kata Sandi Baru" formControlName="password"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" style="margin-top: 25px;" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-item class="marginTop">
      <ion-input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Ketik Ulang Kata Sandi Baru" formControlName="confirmation_password"></ion-input>
      <ion-icon slot="end" [name]="passwordConfirmToggleIcon" style="margin-top: 25px;" (click)="toggleConfirmPassword()"></ion-icon>
    </ion-item>
  
      <div class="ion-text-center" style="margin-top:40px">
        <ion-button [disabled]="setPasswordForm.invalid" expand="block" type="submit" style="height:40px">Lanjut</ion-button>
      </div>
      </form>
  </div>

 
</ion-content>

