<ion-content class="ion-padding">
    <div class="ion-text-center" style="margin-top: 150px;">
        <img src="/assets/images/logo-with-text.png" height="80px;" style="margin-bottom:5px;">
    </div>
    <div class="ion-text-center" style="margin-top: 10px;">
        <ion-button color="danger" size="medium" fill="clear">
          Page Not Found :( :(
        </ion-button>
    </div>
    <div class="ion-text-center" style="margin-top: 10px;">
        <ion-button color="secondary" size="small" (click)="goToDashboard()">
            <ion-icon slot="start" name="home-outline"></ion-icon>
          Kembali ke Halaman Utama
        </ion-button>
    </div>
</ion-content>
