<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan Proyek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey-light">
<ion-list lines="inset">
  <ion-item (click)="editLocation()">
    <ion-label>
      <h3>Ubah Lokasi</h3>
    </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-item>

  <ion-item (click)="editUserProject()" lines="none">
    <ion-label>
      <h3>Ubah Proyek</h3>
    </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-item>
</ion-list>

</ion-content>
  

