<ion-header class="ion-no-border">
  <ion-toolbar style="margin-top:0px;" class="ion-text-center">
    <ion-button slot="start" fill="clear" color="primary" (click)="signinPage()">
      <ion-icon slot="start" color="danger" name="arrow-back-circle-outline"></ion-icon>
           LOGIN DISINI
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <!-- <ion-item class="marginTop">
    <ion-label position="stacked">Pilih Tipe Akun</ion-label>
    <ion-select (ionChange)="accountType($event)" formControlName="role" placeholder="Pilih Tipe Akun" okText="" cancelText="TUTUP" interface="action-sheet">
      <ion-select-option [value]="1">Personal</ion-select-option>
      <ion-select-option [value]="2">UMKM</ion-select-option>
      <ion-select-option [value]="3">Perusahaan</ion-select-option>
      <ion-select-option [value]="4">Kementrian</ion-select-option>
    </ion-select>
  </ion-item> -->

  <ion-item style="margin-top:-10px;">
    <ion-label position="stacked">Nama Lengkap</ion-label>
    <ion-input type="text" placeholder="Masukan Nama Lengkap" formControlName="fullname"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.fullname.errors.required">Nama Lengkap harus diisi guys :(</div>
  </div>

  <ion-item class="marginTop">
    <ion-label position="stacked">Nomor Ponsel</ion-label>
    <ion-input type="number" placeholder="Masukan Nomor Ponsel" formControlName="phonenumber"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.phonenumber.errors.required">Nomor Ponsel harus diisi guys :(</div>
  </div>

  <ion-item class="marginTop">
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Masukan Email" formControlName="email"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.email.errors.required">Email harus diisi guys :(</div>
    <div *ngIf="f.email.errors.email">Format email tidak valid</div> 
  </div>

  <ion-item class="marginTop">
    <ion-label position="stacked">Password</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Masukan Password" formControlName="password"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" style="margin-top: 25px;" (click)="togglePassword()"></ion-icon>
  </ion-item>
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.password.errors.required">Password harus diisi guys :(</div>
  </div>

  <div class="ion-text-center" style="margin-top:40px">
    <ion-button [disabled]="signupForm.invalid" expand="block" type="submit" style="height:40px" >DAFTAR</ion-button>
  </div>
  </form>
  
  <div class="atau" style="margin-top:20px">
    <span class="garis1"></span><span style="margin-left: 7px; margin-right: 7px; color:#92949c">atau</span>
    <span class="garis2"></span>
  </div>

  <div class="ion-text-center">
    <ion-button expand="block" color="medium" fill="outline" style="height:50px" (click)="signUpWithGoogle()">
      <img src="/assets/images/google.jpg" height="30px;" style="margin-right: 5px;">
      <b>Daftar dengan Google</b>
    </ion-button>
  </div>

  <div class="ion-text-center" style="margin-top:10px">
    <ion-button expand="block" color="medium" fill="outline" style="height:50px" (click)="signUpWithGithub()">
      <img src="/assets/images/github.png" height="25px;" style="margin-right: 8px;">
      <b>Daftar dengan Github</b>
    </ion-button>
  </div>
</ion-content>
