<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tabel Data Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              <b>Tanggal & Jam</b>
          </ion-col>
          <ion-col>
              <b>Nilai Sensor</b>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let data of arraySensor">
          <ion-col>
              {{data.created_at | date: "dd MMM yyy HH:mm" }}
          </ion-col>
          <ion-col>
             {{data.sensor_value}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
