.header-row{
    border-bottom: 1px solid #d7d8da;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.data-row{
    border-bottom: 1px solid #d7d8da;
    margin-bottom: 10px;
    padding-bottom: 10px;
}