<ion-header class="ion-no-border">
  <ion-toolbar style="margin-top:0px;" color="white" class="ion-text-center">
    <ion-button slot="end" expand="full" fill="clear" (click)="signupPage()">
      <ion-icon color="danger" slot="end" name="arrow-forward-circle-outline"></ion-icon>
           <div style="font-weight: bolder;color:#eb445a;">DAFTAR</div>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" style="margin-top: 50px;">
    <img src="/assets/images/logo-with-text.png" height="80px;" style="margin-bottom:10px;">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <ion-item class="marginTop">
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.email.errors.required">Email harus diisi guys :(</div>
    <div *ngIf="f.email.errors.email">Format email tidak valid</div> 
  </div>

  <ion-item class="marginTop">
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.password.errors.required">Password harus diisi guys :(</div>
  </div>

  <div class="ion-text-center" style="margin-top:40px">
    <ion-button expand="block" type="submit" style="height:40px" >MASUK</ion-button>
  </div>
  </form>
</ion-content>
