<ion-header class="ion-no-border">
  <ion-toolbar style="margin-top:0px;" color="white" class="ion-text-center">
    <ion-button slot="end" color="primary" fill="clear" (click)="signupPage()">
      <ion-icon color="danger" slot="end" name="arrow-forward-circle-outline"></ion-icon>
          DAFTAR SEKARANG
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" style="margin-top: 20px;">
    <img src="/assets/images/logo-with-text.png" height="60px;" style="margin-bottom:0px;">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <ion-item class="marginTop">
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.email.errors.required">Email harus diisi guys :(</div>
    <div *ngIf="f.email.errors.email">Format email tidak valid</div> 
  </div>

  <ion-item class="marginTop">
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin-top:-10px;">
    <div *ngIf="f.password.errors.required">Password harus diisi guys :(</div>
  </div>

  <div class="ion-text-center" style="margin-top:40px">
    <ion-button [disabled]="loginForm.invalid" expand="block" type="submit" style="height:40px" >Masuk</ion-button>
  </div>
  </form>
  <div class="ion-text-center" style="margin-top:40px">
    <ion-button expand="block" color="medium" fill="outline" style="height:50px" (click)="signInWithGoogle()">
      <img src="/assets/images/google.jpg" height="30px;" style="margin-right: 5px;">
      <b>Masuk dengan Google</b>
    </ion-button>
  </div>

  <div class="ion-text-center" style="margin-top:40px">
    <ion-button expand="block" color="medium" fill="outline" style="height:50px" (click)="signInWithGithub()">
      <img src="/assets/images/google.jpg" height="30px;" style="margin-right: 5px;">
      <b>Masuk dengan Google</b>
    </ion-button>
  </div>

  <div class="ion-text-center" style="margin-top:40px">
    <a href="https://github.com/login/oauth/authorize?scope=user&email&client_id=e9a252050722608e005f&redirect_uri=http://localhost:8100/signin">Github</a>
  </div>
</ion-content>
