<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addSensorForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Sensor <ion-text color="danger">*</ion-text></ion-label>
      <ion-select interface="alert" class="my-custom-interface" multiple="true" formControlName="sensor_id" okText="OK" placeholder="Pilih Sensor" cancelText="Tutup">
        <ion-select-option *ngFor="let sensor of sensors" [value]="sensor.id">{{sensor.sensor_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center" style="margin-top:40px">
      <ion-button [disabled]="addSensorForm.invalid" expand="block" type="submit" style="height:40px">
        SUBMIT
      </ion-button>
    </div>
  </form>
</ion-content>
