<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grafik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list-header color="light">Line Chart</ion-list-header>
  <ion-card class="welcome-card" style="padding:0px;">
    <ion-card-header>
      <ion-card-subtitle>Line</ion-card-subtitle>
      <ion-card-title>Line  </ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding:0px;">
      <canvas #barChart>
        <ion-spinner></ion-spinner>
      </canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
