<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Atur Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="settingPasswordForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Masukan Password Lama <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" placeholder="Masukan Password Lama" formControlName="old_password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Masukan Password Lama <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" placeholder="Masukan Password Lama" formControlName="new_password"></ion-input>
      </ion-item>
    
    <div class="ion-text-center" style="margin-top:40px">
      <ion-button [disabled]="settingPasswordForm.invalid" expand="block" type="submit" style="height:40px" >SUBMIT</ion-button>
    </div>
  </form>
</ion-content>
